
.DS_Store
*.aux
*.bcf
Documents/LaTeX/Report.blg
Documents/LaTeX/Report.fdb_latexmk
Documents/LaTeX/Report.lof
*.log
*.out
*.lot
*.xml
*.gz
*.toc
*.fls
*.bbl
Data/Chicago_Crime.csv
Data/.RData
Data/.Rhistory
